* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #100707;
    color: #5a3333;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #120101;
    color: #f7f2f2;
}

header .logo img {
    width: 100px;

}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
    font-size: x-large;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


.hero {
    background-image: url('gym-hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}
.hero-content h1,p{
    color: #c9baba;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #e60000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f1eded;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.about p {
    max-width: 600px;
    text-align: left;
    font-size: 1.1rem;
    color: #666;
}


.services {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.services .service-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.services .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.services .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.services .card h3 {
    margin-top: 15px;
    font-size: 1.3rem;
}

.services .card p {
    font-size: 1rem;
    color: #666;
}


.timetable {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
    font-size: xx-large;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    padding: 10px;
    border: 1px solid #120202;
}

th {
    background-color: #150202;
    color: white;
}

td {
    text-align: center;
}


.contact {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.contact p {
    font-size: 1.2rem;
}


footer {
    background-color: #000000;
    color: #cdc7c7;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}